<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-sm">
              <h2>What's in here</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <p>Here we are looking to the new Angular 6 HttpClient. No that there is anything wrong with the old HTTP client, but the new client packs a set of features that make it attractive over the old client. Features like interceptors and the capability to define the datatype to be received, with the body directly returned instead of the whole response.</p>
             </div>
        </div>
</div>