<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-sm">
              <h2>What's in here</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <p>This is a prototype of a multi-tenant application where users can sign in then setup there own backend in a few easy steps, then utilize the features on this app.</p>
              <p>First things first, we are going to <a routerLink="/SystemConfiguration">setup the application backend</a>. On a production environment this configuration will be hard coded into the environmets file but since this is for now seating on a public repository we will use the local storage to test the solution.</p>
              
             </div>
        </div>
</div>