<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
        <h1>
          Welcome to {{ title }}!
        </h1>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-sm">
              <h2>What's in here</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <p>Here we are looking to the new Angular 6 HttpClient. No that there is anything wrong with the old HTTP client, but the new client packs a set of features that make it attractive over the old one. Features like interceptors and the capability to define the datatype to be received, with the body directly returned instead of the whole response.</p>
              <p>We are going to be saving and retrieving information with our requests hence is recomended that you have your environment ready. If you are running this locally you will need to run the following line in your console to install some dependencies, then go to <a href="Register/Environment">Register/Environment</a> and follow the instructions</p>
              <br/>
              <p>npm install firebase angularfire2 @types/firebase</p>
              <br/>
              <p>If you want to test the live version then just go to Register/Environment and follow the instructions.
             </div>
        </div>
</div>