@import '~src/scss/base.scss';

.navbar {
    border-bottom: solid;
    margin-bottom: 50px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#navbar-brand-img{
    width: 45px;
}
#navbar-brand{
    font-weight: bold;
    text-decoration: none;
}



@media (min-width: 768px){

    .navbar-right .dropdown-menu {
        margin-left: -50%;        
    }

}
.form-inline{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 20px;
}
.form-control:focus {   
    outline: 0;
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}

.one-form-control:focus {   
    outline: 0;
    box-shadow: 0 0 0 0.2rem $boxShadowColor;
}
.testform-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-inline[_ngcontent-c1] {
     margin-top: 8px;
}
.nav-link{
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}
.dropdown-item {
    height: 55px;
    padding: 1rem;
}
.nav-link{
    height: 55px;
    vertical-align: middle;
    display: table-cell;
    margin-top: -5px;
    margin-bottom: -5px;
}
.dropdown{
    cursor: pointer;
    margin-left: -3%;
}
.dropdown-menu {
    border: solid;
    position: absolute; 
    margin-top: 7px;
}

.avatar-circle {
    position:relative;
    top: .25rem;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
  }
  .initials {
    position: relative;
    font-size: 19px; /* 50% of parent */
 
    font-weight: bold;
  }
  .avatarDropdown{
    position: absolute;
    top:51px;
    left:-60px;
  }
  
@media (max-width: 768px){

    .avatarDropdown {
        position: absolute;
        top: 45px;
        left: 0px;
    }
    .avatar-circle {
        position: relative;
        top: -5px;
        left: 15px; 
    }
}