.buttonSpamMessage {
    margin-left: 15px;
    color: red;
}
#currentConfiguration{
    float: left;
    margin-left:15px;
}
#configForm{
    float: left;
    margin-right: 35px;
 
}
#currentConfigurationHeader{
    margin-bottom: 15px; 
    margin-left: -9px;
}
button{
    margin-right: 9px;
}
#configInputBox{
    margin-left: 15px;
}
#currentConfigurationGroup{
    margin-bottom: 1rem;
}